[run]
source = py/desisim
omit =
   py/desisim/_version.py
   py/desisim/conftest*
   py/desisim/cython_version*
   py/desisim/setup_package*
   py/desisim/*/setup_package*
   py/desisim/*/*/setup_package*
   py/desisim/sphinx/*
   py/desisim/test/*
   py/desisim/*/test/*
   py/desisim/*/*/test/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   # def main\(.*\):
