#
# IMPORTANT.  OS X support is so experimental that you have to specifically
# request to have it enabled, on a per-repository basis.  See
# http://docs.travis-ci.com/user/multi-os/#Manual-intervention-required
#
# This file will still work, without OS X enabled, it just won't run those
# tests.
#
language: python

os:
    - linux
    # - osx

# Setting sudo to false opts in to Travis-CI container-based builds.
sudo: false

# The apt packages below are needed for sphinx builds, which can no longer
# be installed with sudo apt-get.
addons:
    apt:
        packages:
            - graphviz
            - texlive-latex-extra
            - dvipng
python:
    - 2.7
    # - 3.3
    # - 3.4
    # - 3.5
env:
    global:
        # The following versions are the 'default' for tests, unless
        # overidden underneath. They are defined here in order to save having
        # to repeat them for all configurations.
        - MAIN_CMD='python setup.py'
    matrix:
        - SETUP_CMD='test'

matrix:
    # Don't wait for allowed failures.
    fast_finish: true

    # OS X support is still experimental, so don't penalize failuures.
    allow_failures:
        - os: osx

    include:
        # Check for sphinx doc build warnings - we do this first because it
        # runs for a long time
        - os: linux
          python: 2.7
          env: SETUP_CMD='build_sphinx'
          # -w is an astropy extension

        # Do a bdist_egg compile.  This will catch things like syntax errors
        # without needing to do a full python setup.py test
        - os: linux
          python: 2.7
          env: SETUP_CMD='bdist_egg'

        # Coverage test, pass the results to coveralls.
        - os: linux
          python: 2.7
          env: SETUP_CMD='test --coverage'

install:
    - if [[ $SETUP_CMD == 'build_sphinx' ]]; then pip install Sphinx; fi
    - if [[ $SETUP_CMD == 'test --coverage' ]]; then pip install coverage coveralls; fi
    # Force desiutil to be installed first.
    - pip install git+https://github.com/desihub/desiutil.git@1.3.0#egg=desiutil
    - pip install -r requirements.txt

script:
    - $MAIN_CMD $SETUP_CMD

after_success:
    - if [[ $SETUP_CMD == 'test --coverage' ]]; then coveralls; fi
